html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:black;
}

body {
    overflow: hidden;
}

.amp {
    border: none;
    display: block;
    width: 275px;
    height: 350px;
    transform-origin: top left;
}
